window {
  border-radius: 6px;
  background-color: rgba(22, 27, 32, 255);
  border-image: linear-gradient(#e25656, #e5d487) 45;
  border-width: 1px;
  border-style: solid;
}

#input {
  box-shadow: none;
  margin: 10px;
  border-radius: 0px;
  border: none;
  outline: none;
  background-color: #2c3742;
  color: white;
}

#input:focus {
  outline: none;
}

#scroll {
  margin: 2px;
}

#entry:selected {
  background: #2c3742;
  outline: none;
}
